
$color-free-event: #eaf9ff;
$color-vacation-event: #1ebeb4;
$color-red-event: #f16953;
$color-yellow-event: #fcc659;
$color-last-day: #f6f6f6;
$color-white: #ffffff;
$color-black: #000000;
$color-default: #232323;
$color-grey-background: #f7f7f7;
$color-left-border: #393a3f;
$color-background-active-button: #556080;
$color-active-button: #cacaca;
